body{
  display: grid;
    place-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Raleway', sans-serif;
overflow-x: hidden;
}
:root{
  --p-color:#90BAA8;
  --text-s-color:#464646;
  --text-ss-color:#595959;
}
*{
  text-wrap:pretty;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  margin: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color:black;
}

section:not(:first-child){
  margin:4rem 0;
}
.container{  
  padding-top: 5rem;
  max-width: 1170px;
  display: grid;
  place-items: center;
}

@media (max-width: 768px) {
  .container{  
    padding-top: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
  }

  section:not(:first-child){
    padding:2rem 0;
  }
}