.Home {
    display: grid;
    place-items: center;
}

section.Hero-Home {padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    position: relative;
    flex-wrap: wrap;
}

.Hero-Home .info {
    position: relative;
    display: flex;
    flex-direction: column;
    flex:1 1 50%;
    margin-top: 120px;
    gap:0;
}

.Hero-Home .info h1 span svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform:translate(-50%,-50%) ;
    z-index: -1;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    transform:translate(-50%,-50%) ;
}


.Hero-Home .info .highlight img {
    position: absolute;
    top: 47px;
    right: 11px;
}

.Hero-Home .info p:first-child::before {
    content: '';
    width: 112px;
    position: absolute;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translateY(50%);
    background-color: var(--p-color);
}

.Hero-Home .info h1 {
    width: 700px;
    font-size:88px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding: 32px 0;
}

.Hero-Home .info h1 span {
    position: relative;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: auto;
    padding:0;
    padding-right: 1rem;
}

.Hero-Home .info p:first-child {
    position: relative;
    margin:0;
    padding-left: 124px;
    font-size: 24px;
    font-weight: 500;
    
}

.Hero-Home .info p:not(:first-child) {
    font-size: 20px;
    padding-right: 2px;
    padding-bottom: 40px;
    line-height: 1.5;
    color: var(--text-s-color);
    margin: 0;
}

.Hero-Home .info .buttons 
{
    margin:0;
}

.Hero-Home .art {
    position: relative;
    right: 0;
    z-index: 100;
    top: -41px;
    height: 698px;
    background-color:#F0FDF7;
    -o-border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    border-radius: 35px;
    overflow: hidden;
    flex:1 1 291px;
}
.Hero-Home .art img{
    position: absolute;
}

.Hero-Home .art img[alt="art1"]{
    top: 0;
    left: 0;
}
.Hero-Home .art img[alt="art2"]{
    bottom:0;
    right: 0;
}


/* AboutUs */
.AboutUs-Home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:stretch;
    padding: 80px 0;
}

.AboutUs-Home .border:before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    box-shadow: 50px 50px 0 0 #E8E8FF;
}

  .top_left{
    background-color: white;
    flex: 1 1 671px;
    overflow: hidden;
    position: relative;
  }

.AboutUs-Home .info p:not(:first-child) {
    font-size: 20px;
    color: var(--text-s-color);
    margin: 0;
    padding-bottom: 29px;
    
}

.AboutUs-Home .img {
    display: grid;
    place-items: center;
    padding: 21px 0px;
    padding-bottom: 0;
    background-color: #E8E8FF;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0;
    flex: 1 1 calc(467px - 32px);
}

.AboutUs-Home .card .img {
    padding: 0;
    place-items: center;
    background-color: transparent;
    -o-border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    flex: 1 1;
    margin: 0;
}

.AboutUs-Home .bottom_left {
    padding:16px ;
    padding-right:0;
    padding-bottom: 0;
    background-color: #E8E8FF;
    border-top-left-radius: 33px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 33px;
    flex: 1 1 661px;
}

.AboutUs-Home .bottom_left .buttons {
    margin-top: 0;
    width: auto;
    display: flex;
    background-color: white;
    padding: 13px 0;
    -o-border-radius: 30px;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0rem;
    align-items: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}

.AboutUs-Home .bottom_left .buttons a {
    width: 40%;
    text-align: center;
    padding: 1rem;
    margin: 0;
    border-radius: 54px;
    justify-content: center;
}

.AboutUs-Home .bottom_left p {
    background-color: white;
    padding: 0 20px;
    padding-top:14px;
    padding-bottom:41px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom:18px;
    color: var(--text-ss-color);
    font-size: 20px;
    line-height: 1.5;
    text-wrap: pretty;
}

.AboutUs-Home .cards {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 16px;
    background-color: #E8E8FF;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0;
    flex:1 1 calc(451px - 32px);
    gap: 17px;
}

.AboutUs-Home .cards .card {
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    text-wrap: balance;
    background-color: white;
    padding: 20px 18px;
    border-radius: 35px;
    flex:1 1 209px;
}

.AboutUs-Home .cards .card {
    padding-bottom:23px;
}

.AboutUs-Home .cards .card h2 {
    font-size: 24px;
padding-bottom: 12px;
    color: var(--text-s-color);
    font-weight: 600;
    margin: 0;
}

.AboutUs-Home .cards .card p {
    font-size: 12px;
    color: var(--text-ss-color);
    margin: 0;
    font-weight:400;
    text-wrap: pretty;
    line-height:1.5;
}

/* Services */

.Services-Home {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Services-Home .info {
    width: 100%;
}

.Services-Home .info h1 {
    font-size: 53px;
}

.Services-Home .cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.Services-Home .cards .card {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    padding-bottom: 2rem;
    border-radius: 30px;

    flex: 1 1 calc(270px - 120px);
}

.Services-Home .cards .card:nth-child(1) {
    background-color: #DDEDCC;

}

.Services-Home .cards .card:nth-child(2) {
    background-color: #CCDDED;

}

.Services-Home .cards .card:nth-child(3) {
    background-color: #CCEDED;

}

.Services-Home .cards .card .img {
    padding-bottom:32px;
}

.Services-Home .cards .card h2 {
    font-size: 35px;
    margin: 0;
    font-weight: 500;
    padding-bottom:14px;
}

.Services-Home .cards .card p {
    font-size: 14px;
    color: var(--text-s-color);
    margin: 0;
    line-height: 1.5;
    padding-right: 2px;
    padding-bottom:28px;
}
.Services-Home .cards .card a {
    font-size: 16px;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: 500;
    align-items: baseline;


}


.Services-Home .link {
    width: 100%;
    display: grid;
    place-items: center;
}

.Services-Home .link a {
    background-color: black;
    color: white;
    padding: 21px 51px;
    margin-top: 3rem;
    border-radius: 35px;
    display: flex;
    align-items: baseline;
    gap: 11px;
    justify-content: center;
}

/*blog*/

.Blog-Home {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 2rem 0;
}

.Blog-Home .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.Blog-Home .top .info {
    width: 60%;
}

.Blog-Home .top .info h2 {
    padding-bottom: 0;
}

.Blog-Home .top .buttons{
    width:auto;
    justify-content: flex-start;
}

.Blog-Home .top .buttons a{
    padding:20px 44px;
}

.Blog-Home .cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.Blog-Home .cards .card {
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    padding: 2rem 1rem;flex-wrap:wrap;
}

.Blog-Home .cards .card:nth-child(1) .img {
    background-color: #DDCCED;

}
.Blog-Home .Blog-p{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}



.Blog-Home .cards .card:nth-child(2) .img {
    background-color: #EDDDCC;

}

.Blog-Home .cards .card:nth-child(3) .img {
    background-color: #CCEDED;

}

.Blog-Home .cards .card .img {
    border-radius: 26px;
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 300px;
    margin-bottom: 32px;
}

.Blog-Home .cards .card .Type {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Blog-Home .cards .card h2 {
    color: black;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 14px;
    font-size:22px;
    text-wrap: wrap;
}

.Blog-Home .cards .card p {
    color: var(--text-ss-color);
    line-height: 1.6;
    font-weight: 500;
    margin: 0;
    font-size: 14px;
    text-wrap: pretty;
    padding-right: 1px;
}

.Blog-Home .cards .card p a {
    color: black;
    font-weight: 700;
    text-wrap: nowrap;
    cursor: pointer;
}

.Blog-Home .cards .card .Blog-p p:first-child {
    color: white;
    background-color: var(--p-color);
    display: flex;
    align-items: baseline;
    gap: 10px;
    border-radius: 24px;
    padding: 12px 22px;
    border: none;
    margin: 0;
}

.Blog-Home .cards .card .Blog-p p:last-child {
    color: var(--text-s-color);
    margin: 0;
}

@media (max-width: 1111px) {
    .Services-Home .info {
        width: 92%;
    }

    .Services-Home {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: auto;
        align-items: center;
    }

    .Services-Home .cards {
        gap: 18px;
        justify-content: center;
    }

    .Contact-Home {
        width: 100%;
        flex-wrap: wrap;
    }

    .Blog-Home .cards {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .Blog-Home .cards .card {
        width: 46%;
        min-width: 0px;
        text-align: center;
    }

    .Blog-Home .cards .card p {
        color: var(--text-ss-color);
        padding: 0 1rem;
    }

    .Blog-Home .top .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
    }

    .art {
        position: static;
        z-index: 0;
    }

    .Hero-Home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        gap: 40px;
        position: static;
    }

    .art img {
        width: 50%;
        display: none;
    }

    .Services-Home .cards .card {
        width: 45%;
    }

    .AboutUs-Home {
        flex-direction: column;
        width: 90%;
    }

    .AboutUs-Home .info:after {
        display: none;
    }


    .AboutUs-Home .info {
        width: 90%;
        margin-bottom: 2rem;
    }


    .AboutUs-Home .img {
        width: 100%;
        display: grid;
        place-items: center;
        padding: 1.5rem 0;
        background-color: #E8E8FF;
        border-radius: 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0;
    }

    .AboutUs-Home .img img {
        width: 92%;
    }

    .AboutUs-Home .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        border-radius: 0;
        border-top-left-radius: 33px;
        border-top-right-radius: 33px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .AboutUs-Home .left .buttons {
        margin-top: 1rem;
        margin-left: 0;
        display: flex;
        background-color: white;
        padding: 13px 8px;
        border-radius: 42px;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
        flex-wrap: wrap;
        width: auto;
    }

    .AboutUs-Home .left .buttons a {
        width: 50%;
        text-align: center;
        padding: 1rem;
        margin: 0;
        border-radius: 54px;
        justify-content: center;
    }

    .AboutUs-Home .left p {
        background-color: white;
        margin: 1rem;
        padding: 2rem;
        border-radius: 26px;
        color: var(--text-ss-color);
        font-size: 16px;
        text-wrap: balance;
        width: auto;
    }
    
    .AboutUs-Home .right {
        max-width: 90%;
        background-color: #E8E8FF;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 33px;
        border-bottom-left-radius: 33px;
    }

    .AboutUs-Home .cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 20px;
        flex-wrap: wrap;
        padding: 0;
        background-color: transparent;
        border-radius: 0px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .AboutUs-Home .cards .card {
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        text-wrap: balance;
        background-color: white;
        padding: 0;
        border-radius: 0px;
    }


    .AboutUs-Home .cards .card .img {
        width: 100%;
        display: grid;
        place-items: center;
        padding: 1.5rem 0;
        background-color: #E8E8FF;
        border-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }



    .AboutUs-Home .cards .card h2 {
        margin-top: 1rem;
    }

    .AboutUs-Home .cards .card p {
        padding: 1rem 2rem;
    }
}

@media (max-width: 768px) {

    .Hero-Home .info {
        text-align: center;
        width: 90%;
        padding: 2rem;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        align-items: center;
    }
    
    .Hero-Home .info img {
        z-index: -1;
    }
    
    .Hero-Home .info p {
        width: auto;
        position: relative;
    }
    
    .Hero-Home .info p:first-child {
        position: relative;
        padding: 0rem 5rem;
        font-size: 27px;
        font-weight: 500;
    }
    
    .Hero-Home .info p:first-child::before {
        content: '';
        width: 61px;
        position: absolute;
        height: 2px;
        top: 50%;
        left: 0;
        transform: translateY(50%);
        background-color: var(--p-color);
    }
    
    .Hero-Home .info p:first-child::after {
        content: '';
        width: 61px;
        position: absolute;
        height: 2px;
        top: 50%;
        right: 0;
        transform: translateY(50%);
        background-color: var(--p-color);
    }
    
    .Hero-Home .info p:not(:first-child) {
        font-size: 21px;
        padding: 0;
        padding-top: 2rem;
        width: 80%;
        line-height: 1.5;
        margin: 0;
        position: relative;
        color: var(--text-s-color);
    }
    
    .Hero-Home .info h1 {
        font-size: 5rem;
        margin: 0;
        width: 79%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
    }
    
    .Hero-Home .info p:last-child {
        position: relative;
    }
    
    .Hero-Home .info h1 span {
        position: relative;
    }
    
    .Hero-Home .info h1 span svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    
    .Hero-Home .info img[alt="Highlight"] {
        position: absolute;
        top: 50%;
        right: -10%;
        transform: translateY(-50%);
    }

    .Blog-Home .cards {
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .Blog-Home .cards .card {
        min-width: 90%;
        text-align: center;
    }

    .Blog-Home .cards .card .img {
        width: 100%;
        padding: 2rem 0;
    }

    .AboutUs-Home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .AboutUs-Home .info:after {
        display: none;
    }


    .AboutUs-Home .info {
        width: 100%;
        margin-bottom: 2rem;
    }

    .AboutUs-Home .info {
        width: 100%;
    }

    .AboutUs-Home .info {
        border-top-left-radius: 33px;
        border-top-right-radius: 33px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }


    .AboutUs-Home .img {
        width: 100%;
        display: grid;
        place-items: center;
        padding: 1.5rem 0;
        background-color: #E8E8FF;
        border-radius: 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0;
    }

    .AboutUs-Home .img img {
        width: 92%;
    }

    .AboutUs-Home .info2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .AboutUs-Home .info2 .buttons {
        margin-top: 1rem;
        margin-left: 0;
        display: flex;
        background-color: white;
        padding: 13px 8px;
        border-radius: 42px;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        gap: 1rem;
    }

    .AboutUs-Home .info2 .buttons a {
        width: 40%;
        text-align: center;
        padding: 1rem;
        margin: 0;
        border-radius: 54px;
        justify-content: center;
    }

    .AboutUs-Home .info2 p {
        background-color: white;
        margin: 1rem;
        padding: 2rem;
        border-radius: 26px;
        color: var(--text-ss-color);
        font-size: 16px;
        text-wrap: balance;
        width: 76%;
    }

    .AboutUs-Home .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 0px;
        padding: 0;
        background-color: transparent;
        border-radius: 0px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .AboutUs-Home .cards .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        text-wrap: balance;
        background-color: white;
        padding: 0;
        border-radius: 0px;
    }

    .AboutUs-Home .cards .card:nth-child(2) .img {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        text-wrap: balance;
        padding: 2rem 0rem;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .AboutUs-Home .cards .card .img {
        width: 100%;
        display: grid;
        place-items: center;
        padding: 1.5rem 0;
        background-color: #E8E8FF;
        border-radius: 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .AboutUs-Home .cards .card:nth-child(1) .img {
        width: 100%;
        display: grid;
        place-items: center;
        padding: 1.5rem 0;
        background-color: #E8E8FF;
        border-radius: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .AboutUs-Home .cards .card:nth-child(2) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        text-wrap: balance;
        background-color: white;
        padding: 0;
        border-radius: 30px;
    }

    .AboutUs-Home .cards .card h2 {
        margin-top: 1rem;
    }

    .AboutUs-Home .cards .card p {
        padding: 1rem 2rem;
    }

    .Services-Home .info {
        width: 100%;
    }

    .Services-Home .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .Services-Home .cards .card {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 27px;
        padding: 1rem 1rem;
        padding-bottom: 2rem;
        border-radius: 30px;
        text-align: center;
    }

    .Services-Home .cards .card img {
        width: 80%;
    }

    .Services-Home .cards .card .img {
        display: grid;
        place-items: center;
    }

    .art {
        position: static;
        z-index: 0;
    }

    .Hero-Home {
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: static;
        justify-content: center;
        align-items: center;
    }

    .art img {
        width: 100%;
        height: auto;
    }

    .Blog-Home .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .Blog-Home .top .info {
            width: auto;
        }


    .Blog-Home .Blog-p {
        justify-content: center;
    }
    .AboutUs-Home .left .bottom {
        padding: 1rem;
        max-width: 100%;
        width: auto;
        background-color: #E8E8FF;
        border-top-left-radius: 33px;
        border-top-right-radius: 33px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 33px;
    }
}